ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__simulationdb=Host=127.0.0.1;Port=5432;Database=simulationdb;Username=postgres;Password=postgres
ConnectionStrings__rabbitmq=amqp://guest:guest@localhost:5672
